.button {
    background-color: transparent;
    border: 1px solid transparent;
    color: white;
    outline: none;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    font: inherit;
    font-weight: bold;
}

.danger {
    background-color: red;

}

.success {
    background-color: green;
}